/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =====================
   Base styles
   ===================== */
header {
    margin: 0 30px;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border: 1px solid #000;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.nav-links.hidden {
    display: none;
}
